<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizzaOrder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4416/PizzaOrder.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPizzaOrder" contract="PizzaOrder.IPizzaOrder"
                name="BasicHttpBinding_IPizzaOrder" />
        </client>
    </system.serviceModel>
</configuration>